#tkt-main
{
  background: #FAFAFA;
  margin: 0 auto;
  font-size: 12px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  overflow: hidden;
}

table, ul.tkt-hmenu
{
  font-size: 12px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
  margin: 0;
  padding: 0;
}

.tkt-button
{
  border-collapse: separate;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  background: #696969;
  background: transparent;
  border: 1px solid #7A7A7A;
  padding: 0 5px;
  margin: 0 auto;
  height: 21px;
}

.tkt-postcontent, .tkt-postheadericons, .tkt-postfootericons, .tkt-blockcontent, ul.tkt-vmenu a
{
  text-align: left;
}

.tkt-postcontent, .tkt-postcontent li, .tkt-postcontent table, .tkt-postcontent a, .tkt-postcontent a:link, .tkt-postcontent a:visited, .tkt-postcontent a.visited, .tkt-postcontent a:hover, .tkt-postcontent a.hovered
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
}

.tkt-postcontent p
{
  margin: 13px 0;
}

.tkt-postcontent h1, .tkt-postcontent h1 a, .tkt-postcontent h1 a:link, .tkt-postcontent h1 a:visited, .tkt-postcontent h1 a:hover, .tkt-postcontent h2, .tkt-postcontent h2 a, .tkt-postcontent h2 a:link, .tkt-postcontent h2 a:visited, .tkt-postcontent h2 a:hover, .tkt-postcontent h3, .tkt-postcontent h3 a, .tkt-postcontent h3 a:link, .tkt-postcontent h3 a:visited, .tkt-postcontent h3 a:hover, .tkt-postcontent h4, .tkt-postcontent h4 a, .tkt-postcontent h4 a:link, .tkt-postcontent h4 a:visited, .tkt-postcontent h4 a:hover, .tkt-postcontent h5, .tkt-postcontent h5 a, .tkt-postcontent h5 a:link, .tkt-postcontent h5 a:visited, .tkt-postcontent h5 a:hover, .tkt-postcontent h6, .tkt-postcontent h6 a, .tkt-postcontent h6 a:link, .tkt-postcontent h6 a:visited, .tkt-postcontent h6 a:hover, .tkt-blockheader .t, .tkt-blockheader .t a, .tkt-blockheader .t a:link, .tkt-blockheader .t a:visited, .tkt-blockheader .t a:hover, .tkt-vmenublockheader .t, .tkt-vmenublockheader .t a, .tkt-vmenublockheader .t a:link, .tkt-vmenublockheader .t a:visited, .tkt-vmenublockheader .t a:hover, .tkt-headline, .tkt-headline a, .tkt-headline a:link, .tkt-headline a:visited, .tkt-headline a:hover, .tkt-slogan, .tkt-slogan a, .tkt-slogan a:link, .tkt-slogan a:visited, .tkt-slogan a:hover, .tkt-postheader, .tkt-postheader a, .tkt-postheader a:link, .tkt-postheader a:visited, .tkt-postheader a:hover
{
  font-size: 18px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.tkt-postcontent a, .tkt-postcontent a:link
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #FF0F0F;
}

.tkt-postcontent a:visited, .tkt-postcontent a.visited
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #000000;
}

.tkt-postcontent  a:hover, .tkt-postcontent a.hover
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #000000;
}

.tkt-postcontent h1
{
  color: #000000;
  margin: 0;
  font-size: 16px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-blockcontent h1
{
  margin: 0;
  font-size: 16px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-postcontent h1 a, .tkt-postcontent h1 a:link, .tkt-postcontent h1 a:hover, .tkt-postcontent h1 a:visited, .tkt-blockcontent h1 a, .tkt-blockcontent h1 a:link, .tkt-blockcontent h1 a:hover, .tkt-blockcontent h1 a:visited
{
  font-size: 16px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-postcontent h2
{
  color: #000000;
  margin: 0;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-blockcontent h2
{
  margin: 0;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-postcontent h2 a, .tkt-postcontent h2 a:link, .tkt-postcontent h2 a:hover, .tkt-postcontent h2 a:visited, .tkt-blockcontent h2 a, .tkt-blockcontent h2 a:link, .tkt-blockcontent h2 a:hover, .tkt-blockcontent h2 a:visited
{
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-postcontent h3
{
  color: #000000;
  margin: 0;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-blockcontent h3
{
  margin: 0;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-postcontent h3 a, .tkt-postcontent h3 a:link, .tkt-postcontent h3 a:hover, .tkt-postcontent h3 a:visited, .tkt-blockcontent h3 a, .tkt-blockcontent h3 a:link, .tkt-blockcontent h3 a:hover, .tkt-blockcontent h3 a:visited
{
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-postcontent h4
{
  color: #000000;
  margin: 0;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-blockcontent h4
{
  margin: 0;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-postcontent h4 a, .tkt-postcontent h4 a:link, .tkt-postcontent h4 a:hover, .tkt-postcontent h4 a:visited, .tkt-blockcontent h4 a, .tkt-blockcontent h4 a:link, .tkt-blockcontent h4 a:hover, .tkt-blockcontent h4 a:visited
{
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-postcontent h5
{
  color: #000000;
  margin: 0;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-blockcontent h5
{
  margin: 0;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-postcontent h5 a, .tkt-postcontent h5 a:link, .tkt-postcontent h5 a:hover, .tkt-postcontent h5 a:visited, .tkt-blockcontent h5 a, .tkt-blockcontent h5 a:link, .tkt-blockcontent h5 a:hover, .tkt-blockcontent h5 a:visited
{
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-postcontent h6
{
  color: #000000;
  margin: 0;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-blockcontent h6
{
  margin: 0;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.tkt-postcontent h6 a, .tkt-postcontent h6 a:link, .tkt-postcontent h6 a:hover, .tkt-postcontent h6 a:visited, .tkt-blockcontent h6 a, .tkt-blockcontent h6 a:link, .tkt-blockcontent h6 a:hover, .tkt-blockcontent h6 a:visited
{
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

header, footer, article, nav, #tkt-hmenu-bg, .tkt-sheet, .tkt-hmenu a, .tkt-vmenu a, .tkt-slidenavigator > a, .tkt-checkbox:before, .tkt-radiobutton:before
{
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
}

header, footer, article, nav, #tkt-hmenu-bg, .tkt-sheet, .tkt-slidenavigator > a, .tkt-checkbox:before, .tkt-radiobutton:before
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html, body
{
  height: 100%;
}

body
{
  padding: 0;
  margin: 0;
  min-width: 1000px;
  color: #000000;
}

.clearfix:before, .clearfix:after
{
  content: "";
  display: table;
}

.clearfix:after
{
  clear: both;
}

.cleared
{
  font: 0/0 serif;
  clear: both;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

li h1, .tkt-postcontent li h1, .tkt-blockcontent li h1
{
  margin: 1px;
}

li h2, .tkt-postcontent li h2, .tkt-blockcontent li h2
{
  margin: 1px;
}

li h3, .tkt-postcontent li h3, .tkt-blockcontent li h3
{
  margin: 1px;
}

li h4, .tkt-postcontent li h4, .tkt-blockcontent li h4
{
  margin: 1px;
}

li h5, .tkt-postcontent li h5, .tkt-blockcontent li h5
{
  margin: 1px;
}

li h6, .tkt-postcontent li h6, .tkt-blockcontent li h6
{
  margin: 1px;
}

li p, .tkt-postcontent li p, .tkt-blockcontent li p
{
  margin: 1px;
}

.tkt-shapes
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.tkt-slider-inner
{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tkt-slidenavigator > a
{
  display: inline-block;
  vertical-align: middle;
  outline-style: none;
  font-size: 1px;
}

.tkt-slidenavigator > a:last-child
{
  margin-right: 0 !important;
}

.tkt-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 12px;
  left: 1.4%;
  line-height: 100%;
  margin-left: -5px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.tkt-headline, .tkt-headline a, .tkt-headline a:link, .tkt-headline a:visited, .tkt-headline a:hover
{
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #000000 !important;
  white-space: nowrap;
}

.tkt-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 27px;
  left: 94.84%;
  line-height: 100%;
  margin-left: -102px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
  white-space: nowrap;
}

.tkt-slogan, .tkt-slogan a, .tkt-slogan a:link, .tkt-slogan a:visited, .tkt-slogan a:hover
{
  font-size: 16px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #000000 !important;
}

.tkt-object676356526 h1, .tkt-object676356526 h2, .tkt-object676356526 h3, .tkt-object676356526 h4, .tkt-object676356526 h5, .tkt-object676356526 h6, .tkt-object676356526 p, .tkt-object676356526 a, .tkt-object676356526 ul, .tkt-object676356526 ol, .tkt-object676356526 li
{
  line-height: 125%;
}

.tkt-object676356526
{
  position: absolute;
  top: 73px;
  left: 97.36%;
  margin-left: -175px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
  z-index: 101;
  width: 180px;
  height: 25px;
}

.tkt-header
{
  margin: 0 auto;
  height: 150px;
  background-image: url('../images/object309554357.png'),url('../images/object2049478249.png'), url('../images/header.png');
  background-position: 0px 56px,662px 46px, 0 0;
  background-repeat: no-repeat;
  position: relative;
  width: 1000px;
  z-index: auto !important;
}

.responsive .tkt-header
{
  background-image: url('../images/header.png');
  background-position: center center;
}

.tkt-header>div.tkt-nostyle, .tkt-header>div.tkt-block, .tkt-header>div.tkt-post
{
  position: absolute;
  z-index: 101;
}

.tkt-nav
{
  background: #E4E4E2;
  background: linear-gradient(top, #F0F0EF 0, #E1E1E0 40%, #DFDFDD 50%, #E1E1E0 60%, #F0F0EF 100%) no-repeat;
  background: -webkit-linear-gradient(top, #F0F0EF 0, #E1E1E0 40%, #DFDFDD 50%, #E1E1E0 60%, #F0F0EF 100%) no-repeat;
  background: -moz-linear-gradient(top, #F0F0EF 0, #E1E1E0 40%, #DFDFDD 50%, #E1E1E0 60%, #F0F0EF 100%) no-repeat;
  background: -o-linear-gradient(top, #F0F0EF 0, #E1E1E0 40%, #DFDFDD 50%, #E1E1E0 60%, #F0F0EF 100%) no-repeat;
  background: -ms-linear-gradient(top, #F0F0EF 0, #E1E1E0 40%, #DFDFDD 50%, #E1E1E0 60%, #F0F0EF 100%) no-repeat;
  background: linear-gradient(top, #F0F0EF 0, #E1E1E0 40%, #DFDFDD 50%, #E1E1E0 60%, #F0F0EF 100%) no-repeat;
  -svg-background: linear-gradient(top, #F0F0EF 0, #E1E1E0 40%, #DFDFDD 50%, #E1E1E0 60%, #F0F0EF 100%) no-repeat;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  position: relative;
  z-index: 100;
  font-size: 0;
  text-align: left;
}

ul.tkt-hmenu a, ul.tkt-hmenu a:link, ul.tkt-hmenu a:visited, ul.tkt-hmenu a:hover
{
  outline: none;
  position: relative;
  z-index: 11;
}

ul.tkt-hmenu, ul.tkt-hmenu ul
{
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

ul.tkt-hmenu li
{
  position: relative;
  z-index: 5;
  display: block;
  float: left;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

ul.tkt-hmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

ul.tkt-hmenu:after, ul.tkt-hmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

ul.tkt-hmenu, ul.tkt-hmenu ul
{
  min-height: 0;
}

ul.tkt-hmenu
{
  display: inline-block;
  vertical-align: bottom;
}

.tkt-nav:before
{
  content: ' ';
}

.desktop-nav.tkt-nav
{
  width: 1000px;
  padding-left: 0;
  padding-right: 0;
}

.tkt-hmenu-extra1
{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
  background-position: center;
}

.tkt-hmenu-extra2
{
  position: relative;
  display: block;
  float: right;
  width: auto;
  height: auto;
  background-position: center;
}

.tkt-hmenu
{
  float: left;
}

.tkt-menuitemcontainer
{
  margin: 0 auto;
}

ul.tkt-hmenu>li
{
  margin-left: 1px;
}

ul.tkt-hmenu>li:first-child
{
  margin-left: 0;
}

ul.tkt-hmenu>li:last-child, ul.tkt-hmenu>li.last-child
{
  margin-right: 0;
}

ul.tkt-hmenu>li>a
{
  padding: 0 12px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  line-height: 40px;
  text-align: center;
}

.tkt-hmenu a, .tkt-hmenu a:link, .tkt-hmenu a:visited, .tkt-hmenu a.active, .tkt-hmenu a:hover
{
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}

ul.tkt-hmenu>li>a.active
{
  background: #D9D9D9;
  background: linear-gradient(top, #C7C7C7 0, #D9D9D9 20%, #D9D9D9 80%, #C7C7C7 100%) no-repeat;
  background: -webkit-linear-gradient(top, #C7C7C7 0, #D9D9D9 20%, #D9D9D9 80%, #C7C7C7 100%) no-repeat;
  background: -moz-linear-gradient(top, #C7C7C7 0, #D9D9D9 20%, #D9D9D9 80%, #C7C7C7 100%) no-repeat;
  background: -o-linear-gradient(top, #C7C7C7 0, #D9D9D9 20%, #D9D9D9 80%, #C7C7C7 100%) no-repeat;
  background: -ms-linear-gradient(top, #C7C7C7 0, #D9D9D9 20%, #D9D9D9 80%, #C7C7C7 100%) no-repeat;
  background: linear-gradient(top, #C7C7C7 0, #D9D9D9 20%, #D9D9D9 80%, #C7C7C7 100%) no-repeat;
  -svg-background: linear-gradient(top, #C7C7C7 0, #D9D9D9 20%, #D9D9D9 80%, #C7C7C7 100%) no-repeat;
  padding: 0 12px;
  margin: 0 auto;
  color: #000000;
  text-decoration: none;
}

ul.tkt-hmenu>li>a:visited, ul.tkt-hmenu>li>a:hover, ul.tkt-hmenu>li:hover>a
{
  text-decoration: none;
}

ul.tkt-hmenu>li>a:hover, .desktop ul.tkt-hmenu>li:hover>a
{
  background: #D9D9D9;
  padding: 0 12px;
  margin: 0 auto;
}

ul.tkt-hmenu>li>a:hover, .desktop-nav ul.tkt-hmenu>li:hover>a
{
  color: #194066;
  text-decoration: none;
}

ul.tkt-hmenu>li:before
{
  position: absolute;
  display: block;
  content: ' ';
  top: 0;
  left: -1px;
  width: 1px;
  height: 40px;
  background: url('../images/menuseparator.png') center center no-repeat;
}

ul.tkt-hmenu>li:first-child:before
{
  display: none;
}

ul.tkt-hmenu li li a
{
  background: #D9D9D9;
  background: transparent;
  padding: 0 8px;
  margin: 0 auto;
}

ul.tkt-hmenu li li
{
  float: none;
  width: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.desktop-nav ul.tkt-hmenu li li ul>li:first-child
{
  margin-top: 0;
}

ul.tkt-hmenu li li ul>li:last-child
{
  margin-bottom: 0;
}

.tkt-hmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 26px;
  min-width: 7em;
  border: 0 solid transparent;
  text-align: left;
  line-height: 26px;
  color: #194066;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  margin: 0;
}

.tkt-hmenu ul a:link, .tkt-hmenu ul a:visited, .tkt-hmenu ul a.active, .tkt-hmenu ul a:hover
{
  text-align: left;
  line-height: 26px;
  color: #194066;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  margin: 0;
}

ul.tkt-hmenu li li:after
{
  display: block;
  position: absolute;
  content: ' ';
  height: 0;
  top: -1px;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #D1D1D1;
}

.desktop-nav ul.tkt-hmenu li li:first-child:before, .desktop-nav ul.tkt-hmenu li li:first-child:after
{
  display: none;
}

ul.tkt-hmenu ul li a:hover, .desktop ul.tkt-hmenu ul li:hover>a
{
  background: #D9D9D9;
  margin: 0 auto;
}

.tkt-hmenu ul a:hover
{
  text-decoration: none;
}

.tkt-hmenu ul li a:hover
{
  color: #194066;
}

.desktop-nav .tkt-hmenu ul li:hover>a
{
  color: #194066;
}

ul.tkt-hmenu ul:before
{
  background: #F2F2F2;
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid #D9D9D9;
  margin: 0 auto;
  display: block;
  position: absolute;
  content: ' ';
  z-index: 1;
}

.desktop-nav ul.tkt-hmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.desktop-nav ul.tkt-hmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

ul.tkt-hmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-image: url('../images/spacer.gif');
}

.desktop-nav ul.tkt-hmenu>li>ul
{
  padding: 13px 33px 33px 33px;
  margin: -10px 0 0 -30px;
}

.desktop-nav ul.tkt-hmenu ul ul
{
  padding: 33px 33px 33px 13px;
  margin: -33px 0 0 -8px;
}

.desktop-nav ul.tkt-hmenu ul.tkt-hmenu-left-to-right
{
  right: auto;
  left: 0;
  margin: -10px 0 0 -30px;
}

.desktop-nav ul.tkt-hmenu ul.tkt-hmenu-right-to-left
{
  left: auto;
  right: 0;
  margin: -10px -30px 0 0;
}

.desktop-nav ul.tkt-hmenu li li:hover>ul.tkt-hmenu-left-to-right
{
  right: auto;
  left: 100%;
}

.desktop-nav ul.tkt-hmenu li li:hover>ul.tkt-hmenu-right-to-left
{
  left: auto;
  right: 100%;
}

.desktop-nav ul.tkt-hmenu ul ul.tkt-hmenu-left-to-right
{
  right: auto;
  left: 0;
  padding: 33px 33px 33px 13px;
  margin: -33px 0 0 -8px;
}

.desktop-nav ul.tkt-hmenu ul ul.tkt-hmenu-right-to-left
{
  left: auto;
  right: 0;
  padding: 33px 13px 33px 33px;
  margin: -33px -8px 0 0;
}

.desktop-nav ul.tkt-hmenu li ul>li:first-child
{
  margin-top: 0;
}

.desktop-nav ul.tkt-hmenu li ul>li:last-child
{
  margin-bottom: 0;
}

.desktop-nav ul.tkt-hmenu ul ul:before
{
  border-radius: 0;
  top: 30px;
  bottom: 30px;
  right: 30px;
  left: 10px;
}

.desktop-nav ul.tkt-hmenu>li>ul:before
{
  top: 10px;
  right: 30px;
  bottom: 30px;
  left: 30px;
}

.desktop-nav ul.tkt-hmenu>li>ul.tkt-hmenu-left-to-right:before
{
  right: 30px;
  left: 30px;
}

.desktop-nav ul.tkt-hmenu>li>ul.tkt-hmenu-right-to-left:before
{
  right: 30px;
  left: 30px;
}

.desktop-nav ul.tkt-hmenu ul ul.tkt-hmenu-left-to-right:before
{
  right: 30px;
  left: 10px;
}

.desktop-nav ul.tkt-hmenu ul ul.tkt-hmenu-right-to-left:before
{
  right: 10px;
  left: 30px;
}

.desktop-nav ul.tkt-hmenu>li.ext>a
{
  white-space: nowrap;
}

.desktop-nav ul.tkt-hmenu>li.ext>a:hover, .desktop-nav ul.tkt-hmenu>li.ext:hover>a, .desktop-nav ul.tkt-hmenu>li.ext:hover>a.active
{
  background: none;
  padding: 3px 15px 0 15px;
  margin: -3px -3px 0 -3px;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #737373;
}

.desktop-nav ul.tkt-hmenu>li.ext>a:hover:before, .desktop-nav ul.tkt-hmenu>li.ext:hover>a:before, .desktop-nav ul.tkt-hmenu>li.ext:hover>a.active:before
{
  position: absolute;
  content: ' ';
  top: 3px;
  right: 3px;
  left: 3px;
  bottom: -4px;
  background-color: #F2F2F2;
  border: 1px Solid #D9D9D9;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.desktop-nav ul.tkt-hmenu>li.ext:hover>ul
{
  padding-top: 2px;
  margin-top: 0;
}

.desktop-nav ul.tkt-hmenu>li.ext:hover>ul:before
{
  top: -4px;
  clip: rect(6px, auto, auto, auto);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

ul.tkt-hmenu>li.ext>.ext-r, ul.tkt-hmenu>li.ext>.ext-l, ul.tkt-hmenu>li.ext>.ext-m, ul.tkt-hmenu>li.ext>.ext-off
{
  display: none;
  z-index: 12;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.desktop-nav ul.tkt-hmenu>li.ext>ul
{
  z-index: 13;
}

.desktop-nav ul.tkt-hmenu>li.ext.ext-r:hover>.ext-r, .desktop-nav ul.tkt-hmenu>li.ext.ext-l:hover>.ext-l
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 6px;
  top: 100%;
  padding-top: 4px;
  margin-top: -4px;
}

.desktop-nav ul.tkt-hmenu>li.ext:hover>.ext-r:before, .desktop-nav ul.tkt-hmenu>li.ext:hover>.ext-l:before
{
  position: absolute;
  content: ' ';
  top: 3px;
  bottom: -4px;
  background-color: #F2F2F2;
  border: 1px Solid #D9D9D9;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.tkt-hmenu>li.ext.ext-r:hover>.ext-r
{
  left: 100%;
  right: auto;
  padding-left: 0;
  margin-left: 0;
  padding-right: 4px;
  margin-right: -4px;
}

.desktop-nav ul.tkt-hmenu>li.ext.ext-r:hover>.ext-r:before
{
  right: 3px;
  left: -4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.desktop-nav ul.tkt-hmenu>li.ext.ext-l:hover>.ext-l
{
  right: 100%;
  left: auto;
  padding-right: 0;
  margin-right: 0;
  padding-left: 4px;
  margin-left: -4px;
}

.desktop-nav ul.tkt-hmenu>li.ext.ext-l:hover>.ext-l:before
{
  right: -4px;
  left: 3px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.desktop-nav ul.tkt-hmenu>li.ext:hover>.ext-m, .desktop-nav ul.tkt-hmenu>li.ext:hover>.ext-off
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 2px;
  top: 100%;
}

.desktop-nav ul.tkt-hmenu>li.ext.ext-r:hover>.ext-m
{
  left: -3px;
  right: 0;
  padding-right: 0;
  padding-left: 3px;
}

.desktop-nav ul.tkt-hmenu>li.ext:hover>.ext-off
{
  left: -3px;
  right: -3px;
  padding-left: 3px;
  padding-right: 3px;
}

.desktop-nav ul.tkt-hmenu>li.ext.ext-l:hover>.ext-m
{
  right: -3px;
  left: 0;
  padding-left: 0;
  padding-right: 3px;
}

.desktop-nav ul.tkt-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
  right: -3px;
  left: -3px;
  padding-left: 3px;
  padding-right: 3px;
}

.desktop-nav ul.tkt-hmenu>li.ext:hover>.ext-m:before, .desktop-nav ul.tkt-hmenu>li.ext:hover>.ext-off:before
{
  position: absolute;
  content: ' ';
  top: -4px;
  bottom: -4px;
  background-color: #F2F2F2;
  border: 1px Solid #D9D9D9;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.tkt-hmenu>li.ext.ext-r:hover>.ext-m:before
{
  right: -4px;
  left: 3px;
}

.desktop-nav ul.tkt-hmenu>li.ext.ext-l:hover>.ext-m:before
{
  left: -4px;
  right: 3px;
}

.desktop-nav ul.tkt-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
  left: -4px;
  right: -4px;
}

.tkt-sheet
{
  margin: 10px auto 0;
  position: relative;
  cursor: auto;
  width: 1000px;
  z-index: auto !important;
}

.tkt-layout-wrapper
{
  position: relative;
  margin: 10px auto 0 auto;
  z-index: auto !important;
}

.tkt-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.tkt-content-layout-row
{
  display: table-row;
}

.tkt-layout-cell
{
  display: table-cell;
  vertical-align: top;
}

.tkt-breadcrumbs
{
  margin: 0 auto;
}

a.tkt-button, a.tkt-button:link, a:link.tkt-button:link, body a.tkt-button:link, a.tkt-button:visited, body a.tkt-button:visited, input.tkt-button, button.tkt-button
{
  text-decoration: none;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF;
  margin: 0 !important;
  overflow: visible;
  cursor: pointer;
  text-indent: 0;
  line-height: 21px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.tkt-button img
{
  margin: 0;
  vertical-align: middle;
}

.firefox2 .tkt-button
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.tkt-block select
{
  width: 96%;
}

input.tkt-button
{
  float: none !important;
}

.tkt-button.active, .tkt-button.active:hover
{
  background: #696969;
  background: linear-gradient(top, #7A7A7A 0, #575757 100%) no-repeat;
  background: -webkit-linear-gradient(top, #7A7A7A 0, #575757 100%) no-repeat;
  background: -moz-linear-gradient(top, #7A7A7A 0, #575757 100%) no-repeat;
  background: -o-linear-gradient(top, #7A7A7A 0, #575757 100%) no-repeat;
  background: -ms-linear-gradient(top, #7A7A7A 0, #575757 100%) no-repeat;
  background: linear-gradient(top, #7A7A7A 0, #575757 100%) no-repeat;
  -svg-background: linear-gradient(top, #7A7A7A 0, #575757 100%) no-repeat;
  border: 1px solid #595959;
  padding: 0 5px;
  margin: 0 auto;
}

.tkt-button.active, .tkt-button.active:hover
{
  color: #FFFFFF !important;
}

.tkt-button.hover, .tkt-button:hover
{
  background: #595959;
  background: transparent;
  border: 1px solid #696969;
  padding: 0 5px;
  margin: 0 auto;
}

.tkt-button.hover, .tkt-button:hover
{
  color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  background: #FAFAFA;
  border: 1px solid #7A7A7A;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  width: 100%;
  padding: 4px 0;
  color: #525252 !important;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

input.tkt-error, textarea.tkt-error
{
  background: #FAFAFA;
  border: 1px solid #E2341D;
  margin: 0 auto;
}

input.tkt-error, textarea.tkt-error
{
  color: #525252 !important;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.tkt-search input[type="text"]
{
  background: #FFFFFF;
  border-radius: 0;
  border: 1px solid #D6D6D6;
  margin: 0 auto;
  width: 100%;
  padding: 3px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #404040 !important;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

form.tkt-search
{
  background-image: none;
  border: 0;
  display: block;
  position: relative;
  top: 0;
  padding: 0;
  margin: 5px;
  left: 0;
  line-height: 0;
}

form.tkt-search input
{
  top: 0;
  right: 0;
}

form.tkt-search>input
{
  bottom: 0;
  left: 0;
  vertical-align: middle;
}

form.tkt-search input[type="submit"]
{
  margin: 0 auto;
  color: #FFFFFF !important;
  position: absolute;
  display: block;
  left: auto;
  border: none;
  background: url('../images/searchicon.png') center center no-repeat;
  width: 24px;
  height: 100%;
  padding: 0;
}

label.tkt-checkbox:before
{
  background: #FAFAFA;
  background: linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  background: -webkit-linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  background: -moz-linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  background: -o-linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  background: -ms-linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  background: linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  -svg-background: linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #7A7A7A;
  margin: 0 auto;
  width: 16px;
  height: 16px;
}

label.tkt-checkbox
{
  cursor: pointer;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  display: inline-block;
}

.tkt-checkbox>input[type="checkbox"]
{
  margin: 0 5px 0 0;
}

label.tkt-checkbox.active:before
{
  background: #7A7A7A;
  background: linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  background: -webkit-linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  background: -moz-linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  background: -o-linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  background: -ms-linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  background: linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  -svg-background: linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #595959;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.tkt-checkbox.hovered:before
{
  background: #949494;
  background: linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  background: -webkit-linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  background: -moz-linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  background: -o-linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  background: -ms-linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  background: linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  -svg-background: linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #696969;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.tkt-radiobutton:before
{
  background: #FAFAFA;
  background: linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  background: -webkit-linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  background: -moz-linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  background: -o-linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  background: -ms-linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  background: linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  -svg-background: linear-gradient(top, #D6D6D6 0, #DBDBDB 40%, #DBDBDB 70%, #A8A8A8 100%) no-repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #7A7A7A;
  margin: 0 auto;
  width: 12px;
  height: 12px;
}

label.tkt-radiobutton
{
  cursor: pointer;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 12px;
  display: inline-block;
}

.tkt-radiobutton>input[type="radio"]
{
  vertical-align: baseline;
  margin: 0 5px 0 0;
}

label.tkt-radiobutton.active:before
{
  background: #7A7A7A;
  background: linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  background: -webkit-linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  background: -moz-linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  background: -o-linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  background: -ms-linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  background: linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  -svg-background: linear-gradient(top, #7D7D7D 0, #808080 20%, #828282 40%, #828282 70%, #808080 72%, #545454 100%) no-repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #595959;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  display: inline-block;
}

label.tkt-radiobutton.hovered:before
{
  background: #949494;
  background: linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  background: -webkit-linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  background: -moz-linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  background: -o-linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  background: -ms-linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  background: linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  -svg-background: linear-gradient(top, #969696 0, #9C9C9C 40%, #9C9C9C 70%, #808080 88%, #6E6E6E 100%) no-repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #696969;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.tkt-block
{
  background: #FFFFFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #7A7A7A;
  padding: 7px;
  margin: 3px;
}

div.tkt-block img
{
  border: none;
  margin: 10px;
}

.tkt-blockheader
{
  padding: 10px 3px;
  margin: 0 auto;
}

.tkt-blockheader .t, .tkt-blockheader .t a, .tkt-blockheader .t a:link, .tkt-blockheader .t a:visited, .tkt-blockheader .t a:hover
{
  color: #404040;
  font-size: 16px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  margin: 0 5px;
}

.tkt-blockcontent
{
  padding: 3px;
  margin: 0 auto;
  color: #000000;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  line-height: 100%;
}

.tkt-blockcontent table, .tkt-blockcontent li, .tkt-blockcontent a, .tkt-blockcontent a:link, .tkt-blockcontent a:visited, .tkt-blockcontent a:hover
{
  color: #000000;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  line-height: 100%;
}

.tkt-blockcontent p
{
  margin: 0 5px;
}

.tkt-blockcontent a, .tkt-blockcontent a:link
{
  color: #FF0F0F;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.tkt-blockcontent a:visited, .tkt-blockcontent a.visited
{
  color: #000000;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.tkt-blockcontent a:hover, .tkt-blockcontent a.hover
{
  color: #000000;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.tkt-block ul>li:before
{
  content: url('../images/blockbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -14px;
}

.opera .tkt-block ul>li:before
{
  bottom: 0;
}

.tkt-block li
{
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  line-height: 100%;
  color: #696969;
  margin: 5px 0 0 10px;
}

.tkt-block ul>li, .tkt-block ol
{
  padding: 0;
}

.tkt-block ul>li
{
  padding-left: 14px;
}

.tkt-post
{
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(122, 122, 122, 0.2);
  padding: 10px;
}

a img
{
  border: 0;
}

.tkt-article img, img.tkt-article, .tkt-block img, .tkt-footer img
{
  margin: 7px 7px 7px 7px;
}

.tkt-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.tkt-article table, table.tkt-article
{
  border-collapse: collapse;
  margin: 1px;
}

.tkt-post .tkt-content-layout-br
{
  height: 0;
}

.tkt-article th, .tkt-article td
{
  padding: 2px;
  border: solid 1px #595959;
  vertical-align: top;
  text-align: left;
}

.tkt-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

.preview-cms-logo
{
  border: 0;
  margin: 1em 1em 0 0;
  float: left;
}

.image-caption-wrapper
{
  padding: 7px 7px 7px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper img
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper div.tkt-collage
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper p
{
  font-size: 80%;
  text-align: right;
  margin: 0;
}

.tkt-postheader
{
  color: #000000;
  margin: 5px 10px;
  font-size: 18px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.tkt-postheader a, .tkt-postheader a:link, .tkt-postheader a:visited, .tkt-postheader a.visited, .tkt-postheader a:hover, .tkt-postheader a.hovered
{
  font-size: 18px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.tkt-postheader a, .tkt-postheader a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #FF0F0F;
}

.tkt-postheader a:visited, .tkt-postheader a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #000000;
}

.tkt-postheader a:hover, .tkt-postheader a.hovered
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #000000;
}

.tkt-postheadericons, .tkt-postheadericons a, .tkt-postheadericons a:link, .tkt-postheadericons a:visited, .tkt-postheadericons a:hover
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #000000;
}

.tkt-postheadericons
{
  display: inline-block;
  padding: 1px;
  margin: 0 0 0 10px;
}

.tkt-postheadericons a, .tkt-postheadericons a:link
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #949494;
}

.tkt-postheadericons a:visited, .tkt-postheadericons a.visited
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #757575;
}

.tkt-postheadericons a:hover, .tkt-postheadericons a.hover
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  color: #757575;
}

.tkt-postdateicon:before
{
  content: url('../images/postdateicon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .tkt-postdateicon:before
{
  bottom: 0;
}

.tkt-postauthoricon:before
{
  content: url('../images/postauthoricon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .tkt-postauthoricon:before
{
  bottom: 0;
}

.tkt-postpdficon:before
{
  content: url('../images/system/pdf_button.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .tkt-postpdficon:before
{
  bottom: 0;
}

.tkt-postprinticon:before
{
  content: url('../images/system/printButton.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .tkt-postprinticon:before
{
  bottom: 0;
}

.tkt-postemailicon:before
{
  content: url('../images/system/emailButton.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .tkt-postemailicon:before
{
  bottom: 0;
}

.tkt-postediticon:before
{
  content: url('../images/system/edit.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .tkt-postediticon:before
{
  bottom: 0;
}

.tkt-postcontent ul>li:before, .tkt-post ul>li:before, .tkt-textblock ul>li:before
{
  content: url('../images/postbullets.png');
  margin-right: 10px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .tkt-postcontent ul>li:before, .opera   .tkt-post ul>li:before, .opera   .tkt-textblock ul>li:before
{
  bottom: 0;
}

.tkt-postcontent li, .tkt-post li, .tkt-textblock li
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #000000;
  margin: 3px 0 0 11px;
}

.tkt-postcontent ul>li, .tkt-post ul>li, .tkt-textblock ul>li, .tkt-postcontent ol, .tkt-post ol, .tkt-textblock ol
{
  padding: 0;
}

.tkt-postcontent ul>li, .tkt-post ul>li, .tkt-textblock ul>li
{
  padding-left: 17px;
}

.tkt-postcontent ul>li:before, .tkt-post ul>li:before, .tkt-textblock ul>li:before
{
  margin-left: -17px;
}

.tkt-postcontent ol, .tkt-post ol, .tkt-textblock ol, .tkt-postcontent ul, .tkt-post ul, .tkt-textblock ul
{
  margin: 1em 0 1em 11px;
}

.tkt-postcontent li ol, .tkt-post li ol, .tkt-textblock li ol, .tkt-postcontent li ul, .tkt-post li ul, .tkt-textblock li ul
{
  margin: 0.5em 0 0.5em 11px;
}

.tkt-postcontent li, .tkt-post li, .tkt-textblock li
{
  margin: 3px 0 0 0;
}

.tkt-postcontent ol>li, .tkt-post ol>li, .tkt-textblock ol>li
{
  overflow: visible;
}

.tkt-postcontent ul>li, .tkt-post ul>li, .tkt-textblock ul>li
{
  overflow-x: visible;
  overflow-y: hidden;
}

blockquote
{
  background: #F2F2F2 url('../images/postquote.png') no-repeat scroll;
  padding: 10px 10px 10px 47px;
  margin: 10px 0 0 25px;
  color: #121212;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  overflow: auto;
  clear: both;
}

blockquote a, .tkt-postcontent blockquote a, .tkt-blockcontent blockquote a, .tkt-footer blockquote a, blockquote a:link, .tkt-postcontent blockquote a:link, .tkt-blockcontent blockquote a:link, .tkt-footer blockquote a:link, blockquote a:visited, .tkt-postcontent blockquote a:visited, .tkt-blockcontent blockquote a:visited, .tkt-footer blockquote a:visited, blockquote a:hover, .tkt-postcontent blockquote a:hover, .tkt-blockcontent blockquote a:hover, .tkt-footer blockquote a:hover
{
  color: #121212;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
}

blockquote p, .tkt-postcontent blockquote p, .tkt-blockcontent blockquote p, .tkt-footer blockquote p
{
  margin: 0;
  margin: 5px 0;
}

.tkt-postfootericons, .tkt-postfootericons a, .tkt-postfootericons a:link, .tkt-postfootericons a:visited, .tkt-postfootericons a:hover
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #000000;
}

.tkt-postfootericons
{
  display: inline-block;
  padding: 1px;
  margin: 0 0 0 10px;
}

.tkt-postfootericons a, .tkt-postfootericons a:link
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #757575;
}

.tkt-postfootericons a:visited, .tkt-postfootericons a.visited
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #595959;
}

.tkt-postfootericons a:hover, .tkt-postfootericons a.hover
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #757575;
}

.tkt-footer
{
  padding: 5px;
  margin: 10px auto 0;
  position: relative;
  color: #000000;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
  text-align: center;
}

.tkt-footer a, .tkt-footer a:link, .tkt-footer a:visited, .tkt-footer a:hover, .tkt-footer td, .tkt-footer th, .tkt-footer caption
{
  color: #000000;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
}

.tkt-footer p
{
  padding: 0;
  text-align: center;
}

.tkt-footer a, .tkt-footer a:link
{
  color: #FF0F0F;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.tkt-footer a:visited
{
  color: #000000;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.tkt-footer a:hover
{
  color: #000000;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.tkt-footer img
{
  border: none;
  margin: 0;
}

.tkt-rss-tag-icon
{
  background: url('../images/footerrssicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 25px;
  min-width: 25px;
  display: inline-block;
  text-indent: 28px;
  background-position: left center;
}

.tkt-rss-tag-icon:empty
{
  vertical-align: middle;
}

.tkt-footer ul>li:before
{
  content: url('../images/footerbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -13px;
}

.opera .tkt-footer ul>li:before
{
  bottom: 0;
}

.tkt-footer li
{
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #525252;
}

.tkt-footer ul>li, .tkt-footer ol
{
  padding: 0;
}

.tkt-footer ul>li
{
  padding-left: 13px;
}

.tkt-page-footer, .tkt-page-footer a, .tkt-page-footer a:link, .tkt-page-footer a:visited, .tkt-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #000000;
}

.tkt-page-footer
{
  position: relative;
  z-index: auto !important;
  padding: 1em;
  text-align: center !important;
  text-decoration: none;
  color: #000000;
}

img.tkt-lightbox
{
  cursor: pointer;
}

#tkt-lightbox-bg *
{
  padding: 0;
  margin: 0;
}

div#tkt-lightbox-bg
{
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 9999;
}

img.tkt-lightbox-image
{
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  -ms-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  cursor: pointer;
  z-index: 10000;
  position: fixed;
  border: 6px solid #fff;
  border-radius: 3px;
  opacity: 0;
  filter: alpha(opacity=0);
}

img.tkt-lightbox-image.active
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.lightbox-error
{
  position: fixed;
  background: #fff;
  z-index: 100;
  opacity: 0.95;
  padding: 20px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  width: 300px;
  height: 80px;
}

.loading
{
  position: fixed;
  background: #fff url('../images/preloader-01.gif') center center no-repeat;
  width: 32px;
  height: 32px;
  z-index: 10100;
  opacity: 0.5;
  padding: 10px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
}

.arrow
{
  height: 100px;
  width: 82px;
  z-index: 10003;
  position: fixed;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.arrow.left
{
  left: 9px;
}

.arrow.right
{
  right: 9px;
}

.arrow:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.arrow.disabled
{
  display: none;
}

.arrow-t, .arrow-b
{
  height: 6px;
  width: 30px;
  left: 26px;
  background-color: #fff;
  position: relative;
  border-radius: 3px;
}

.arrow-t
{
  top: 38px;
}

.arrow-b
{
  top: 50px;
}

.close
{
  width: 22px;
  height: 22px;
  position: fixed;
  top: 30px;
  right: 39px;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.close:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
  position: absolute;
  top: 8px;
  left: -4px;
  width: 30px;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}

.cw
{
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.ccw
{
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.close-alt, .arrow-right-alt, .arrow-left-alt
{
  display: none;
  color: #fff;
  font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt
{
  display: block;
}

.ie8 .cw, .ie8 .ccw
{
  display: none;
}

.tkt-content-layout .tkt-content
{
  margin: 0 auto;
}

.tkt-content-layout .tkt-sidebar1
{
  margin: 0 auto;
  width: 20%;
}

.tkt-content-layout .tkt-sidebar2
{
  margin: 0 auto;
  width: 20%;
}

.baseBrand
{
  float: left;
  width: 100%;
  padding: 6px 8px;
  padding-left: 0px;
  margin-bottom: 30px;
}

.coolLine
{
  float: left;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  width: 330px;
  height: 1px;
  margin-top: 38px;
}

.baseBrand img
{
  float: left;
  margin: 0px 20px;
}

.dv_vinculos
{
  width: 1000px;
  margin-top: 11px;
  float: right;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
}

.dv_vinculos a
{
  text-decoration: none;
  color: #000000;
}

.redes
{
  text-align: left;
}

.redes img
{
  margin: 0;
  float: none;
}

.tkt-block.clearfixbloqueinferior
{
  height: 180px;
  overflow-y: auto;
  margin-top: 20px;
}

.tkt-nostyleslider
{
  margin: 0 0 10px;
  background: #fff;
  border: 4px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  zoom: 1;
}

.tkt-nostyleruta li
{
  display: inline-block;
}

fieldset dl
{
  display: block;
  margin: 0;
  padding: 0;
  background: none;
}

fieldset dt
{
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 12em;
  height: 2em;
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
  background: none;
  line-height: 2em;
  overflow: hidden;
}

fieldset dd
{
  display: block;
  min-height: 2em;
  margin: 0 0 0 12em;
  padding: 0;
  background: none;
  line-height: 2em;
}

fieldset label
{
  display: inline-block;
  width: 12em;
}

fieldset textarea
{
  vertical-align: text-top;
}

.img-fulltext-left, .img-intro-left
{
  float: left;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0.3em 0.3em 0;
  margin-top: 0;
}

.img-fulltext-right, .img-intro-right
{
  float: right;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0 0.3em 0.3em;
  margin-top: 0;
}

ul.pagenav
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

ul.pagenav li, ul.pagenav li:before
{
  display: block;
  background: none;
  margin: 0;
  padding: 0;
  width: 50%;
  text-align: center;
  content: normal;
}

ul.pagenav li.pagenav-prev
{
  float: left;
}

ul.pagenav li.pagenav-next
{
  margin: 0 0 0 50%;
}

div.item-page dl.tabs
{
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page dl.tabs:before
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  width: 1em;
  height: 2em;
  overflow: hidden;
}

div.item-page dl.tabs dt
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  height: 2em;
  overflow: hidden;
  border-left: solid 1px #595959;
  border-top: solid 1px #595959;
}

div.item-page dl.tabs dt h3
{
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  font-size: 100%;
  overflow: hidden;
}

div.item-page dl.tabs dt h3 a
{
  text-decoration: none;
}

div.item-page dl.tabs:after
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  border-left: solid 1px #595959;
  content: " ";
  overflow: hidden;
  height: 2em;
}

div.item-page div.current
{
  clear: both;
  border: solid 1px #595959;
}

div.item-page div.current dd.tabs
{
  margin: 0;
  padding: 0;
}

div.item-page .panel
{
  border: solid 1px #595959;
  margin-top: -1px;
}

div.item-page .panel h3
{
  margin: 0;
  padding: 0;
}

div.item-page .panel h3 a
{
  display: block;
  padding: 6px;
  text-decoration: none;
}

div.item-page .panel h3.pane-toggler-down a
{
  border-bottom: solid 1px #595959;
}

div.item-page .panel .pane-slider
{
  margin: 0;
  padding: 0;
}

div.item-page div.pagination ul
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page div.pagination li
{
  display: block;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
  white-space: nowrap;
}

div.item-page div.pagination:after
{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#searchForm .phrases-box
{
  display: block;
  float: left;
}

#searchForm .ordering-box
{
  text-align: right;
}

#searchForm .phrases-box label, #searchForm .ordering-box label, #searchForm .only label
{
  display: inline-block;
  width: auto;
  height: 2em;
  margin: 0;
  padding: 0 0.3em;
}

#mod-finder-searchform label
{
  display: block;
}

#mod-finder-searchform input.inputbox
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

#login-form #form-login-username label, #login-form #form-login-password label
{
  display: block;
}

#login-form #form-login-username input, #login-form #form-login-password input
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

.breadcrumbs img
{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

dl.stats-module
{
  padding: 0.3em 0 0.3em 0.3em;
  margin: 0;
}

dl.stats-module dt
{
  float: left;
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  width: 10em;
  padding: 0.3em 0.3em 0 0;
  margin: 0;
  font-weight: bold;
}

dl.stats-module dd
{
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  margin-left: 0 0 0 10em;
}

div.mod-languages ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

div.mod-languages li
{
  background: none;
  margin: 0 0.3em;
  padding: 0;
}

div.mod-languages ul.lang-inline li
{
  display: inline;
}

div.mod-languages ul.lang-block li
{
  display: block;
}

div.mod-languages img
{
  border: none;
  margin: 0;
  padding: 0;
}

div.clr
{
  clear: both;
}

#system-message ul li
{
  background-image: none;
}

ul.actions, ul.actions li, ul.actions li img
{
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}

ul.actions li
{
  background: none;
  list-style: none;
}

.items-row
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.items-row .item
{
  display: table-cell;
  vertical-align: top;
}

.items-row .row-separator
{
  display: none;
}

div.pagination p.counter
{
  display: inline-block;
  margin: 0 0.3em 0 0;
  padding: 0;
  background: none;
}

div.pagination ul, div.pagination ul li, div.pagination ul > li:before
{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 0.3em;
  background: none;
  content: normal;
}

div.tip-wrap
{
  background: #fff;
  border: 1px solid #aaa;
}

div.tip-wrap div.tip
{
  padding: 0.3em;
}

div.tip-wrap div.tip-title
{
  font-weight: bold;
}

table.category
{
  width: 100%;
}

table.category thead th img
{
  padding: 0 0 0 0.3em;
  margin: 0;
  border: none;
}

span.hasTip a img
{
  padding: 0;
  margin: 0;
  border: none;
}

div.categories-list ul li span.item-title, div.cat-children ul li span.item-title
{
  display: block;
  margin: 0 0 0.3em 0;
}

div.categories-list ul li div.category-desc, div.cat-children ul li div.category-desc
{
  margin: 0 0 0.3em 0;
}

div.categories-list dl, div.cat-children dl
{
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background: none;
}

div.categories-list dl dt, div.cat-children dl dt, div.categories-list dl dd, div.cat-children dl dd
{
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
}

div.img_caption p.img_caption
{
  padding: 0.3em 0;
  margin: 0;
}
